[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lark-parser = "*"
construct = "*"
pytest = "*"
pypng = "*"
oyaml = "*"
profiling = "*"
urwid = "*"
click = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
